body{
	color:#fff;
}
.menu-1{
	height: 60px;
	background: #444;
}
.slider-1, .slider-2, .{
	height: 100vh;
	text-align: center;
}
.slider-1{
	background-image: url(../img/Sin\ título.png);
}
.slider-2{
	background-image: url(../img/qu.jpg);
}



.footer{
	background: rgb(22, 16, 16);
	color:#fff;
	text-align: center;
	padding: 10px;
}
